<div style="background: #f4f4f4;padding: 10px 0;margin: 10px 10px 10px 0;display: flex;align-items: center;justify-content: center;border-radius: 36px;">
                    <input name="properties[papier]" type="hidden" value="NON">
                    <input name="properties[papier]" id="papier" type="checkbox" value="OUI">
                    <label style="font-family: Montserrat, sans-serif;font-weight: 600;font-style: normal;text-transform: uppercase;font-size: 9px;" for="papier">Souhaitez-vous un petit papier cadeau ?</label>
                  </div>
